<!DOCTYPE html>
<meta charset="utf-8">

<head>
	<link rel="stylesheet" href="{{url_for('static',filename='normalize.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="tooltip.css"/>

	<script src="{{url_for('static', filename='d3.min.js')}}"></script>
	<script src="{{url_for('static', filename='queue.min.js')}}"></script>
	<script src="{{url_for('static', filename='topojson.v1.min.js')}}"></script>

	<link rel="stylesheet" type="text/css" href="style.css"/>
	<link rel="stylesheet" type="text/css" href="data.css"/>
	<link rel="stylesheet" type="text/css" href="footer.css"/>
</head>


<nav class="navbar navbar-default" style="margin: 0 auto; color: lightgrey ;background-color: black;">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="color: lightgrey">
				<span class="sr-only" >Toggle navigation</span>
				<span class="icon-bar"></span>

				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="{{ url_for('index')}}">Home<span class="sr-only">(current)</span></a></li>
				<li><a href="{{ url_for('about')}}">About</a></li>
				<li><a href="{{ url_for('methodology')}}">Methodology</a></li>
				<li><a href="{{ url_for('visualizations')}}">Visualizations</a></li>
                      <li><a href="{{ url_for('links')}}">Links</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>



<body>

<div class="container-fluid">
  <div class="col-md-12 text-center"><br><h2>The Team</h2><br></div>
</div>

<div class="bio container-fluid">
    <div class="col-md-4 text-center">
    <p>Andrew</p>
    <p>contact</p>
    <p><img src="{{url_for('static', filename='andrew.png')}}" style="height: 140px"</img></p>
    <bio> bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio</bio>
    <br>
    </div>
    

    <div class="col-md-4 text-center">
    <p>Judy</p>
    <p>contact</p>
    <p><img src="{{url_for('static', filename='blue.png')}}" style="height: 140px"</img></p>
    <bio>bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio</bio>
    </div>
  

    <div class="col-md-4 text-center">
    <p>Kate</p>
    <p>contact</p>
    <p><img src="{{url_for('static', filename='kate.png')}}" style="height: 140px"</img></p>
    <bio>bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio</bio>
    </div>
</div>

<div class="container-fluid">
  <div class="col-md-2 text-center"></div>

  <div class="col-md-4 text-center">    
    <p>Leeann</p>
    <p>contact</p>
    <p><img src="{{url_for('static', filename='blue.png')}}" style="height: 140px"</img></p>
    <bio>bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio</bio>
    </div>


    <div class="col-md-4 text-center">    
    <p>Lizzie</p>
    <p>contact</p>
    <p><img src="{{url_for('static', filename='lizzie.png')}}" style="height: 140px"</img></p>
    <bio>bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio bio</bio>
    </div>
  <div class="col-md-2 text-center"></div>
</div>

<div class="footer">
	<h4>Footer: 2016 - District Data Labs Incubator Team 6</h4>
</div>




</body>








