<!-- Index Page -->
<!DOCTYPE html>
<meta charset="utf-8">

<head>
    <link rel="stylesheet" href="{{url_for('static',filename='normalize.css')}}">
    <link rel="stylesheet" type="text/css" href="tooltip.css"/>

    <script src="{{url_for('static', filename='d3.min.js')}}"></script>

    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>

	<link rel="stylesheet" type="text/css" href="style.css"/>
	<link rel="stylesheet" type="text/css" href="data.css"/>
	<link rel="stylesheet" type="text/css" href="footer.css"/>
</head>


<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">


            <!--Logo -->
            <div class="navbar-header"> 
                <a href="{{ url_for('index')}}" class="navbar-brand">vizbuzz</a>
            </div>

            <!-- Button -->
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" style="color: lightgrey">
                    <span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<!-- Menu Items -->

		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-left">
				<li class="active"><a href="{{ url_for('index')}}">Home<span class="sr-only">(current)</span></a></li>

				<li class= "dropdown"><a href="#" class = "dropdown-button" data-toggle = "dropdown">Learn How <b class = "caret"></b></a>
                                <ul class = "dropdown-menu">
                                    <li><a href="{{ url_for('methodology', _anchor='API')}}">API</a></li>
                                    <li><a href="{{ url_for('methodology', _anchor='analysis')}}">Analysis</a></li>
                                    <li><a href="{{ url_for('methodology', _anchor='viz_make')}}">Visualization</a></li>
                                    <li><a href="{{ url_for('methodology', _anchor='hosting')}}">Hosting</a></li>
                                </ul>
                          </li>

				<li><a href="{{ url_for('visualizations')}}">Visualizations</a></li>
                      <li><a href="{{ url_for('links')}}">Links</a></li>
			<li><a href="{{ url_for('about')}}">About</a></li>
			</ul>
		</div><!-- /.navbar- -->

	</div><!-- /.container-fluid -->
</nav>



<body>

<div class="jumbotron">
  <h1>Learn How to Visualize the News</h1>
   <hr>
  <h2>Code Samples : Visualizations : Resources : Links</h2>
</div>

<div class="bio container-fluid" id="learnmore">

        <div class="col-md-12 text-center">

            <h2>How do I analyze the news?</h2>

            <div class="col-md-12 text-center">
                <div class="col-md-2 text-center"></div>
        
                <div class="col-md-8 text-center">
                <p>Today, there is a wealth of available and accessible information. Do you want to learn how to harness this information and create stories and visualizations? If you are a beginner, this may seem challenging. This site guides you from downloading APIs, data cleaning, creating visualizations, and finally how to host your work on the web. Our examples center on the NPR API, though there are many open data sources out there!</p>
                </div>
        
                <div class="col-md-2 text-center"></div>
            </div>
    

        </div>
        
	        
        <!--Center buttons -->
        <div class="col-md-12 text-center">
	  <hr>	
                    <div class="col-md-3 text-center">
        			<p><img src="{{url_for('static', filename='method.png')}}" style="height: 100px"></img></p>
                            <a href="{{ url_for('methodology')}}"><h3>Learn How</h3></a>
				
        			<p>Resources and code samples for using the NPR API, Analysis, making Visualization, and learning about web Hosting.</p>
			</div>


			<div class="col-md-3 text-center">
                          <p><img src="{{url_for('static', filename='viz.png')}}" style="height: 100px"></img></p>
				<a href="{{ url_for('visualizations')}}"><h3>Visualizations</h3></a>

				<p>The news in pictures.</p>
			</div>


			<div class="col-md-3 text-center">
 				<p><img src="{{url_for('static', filename='team.png')}}" style="height: 100px"></img></p>
       			<a href="{{ url_for('about')}}"><h3>About the Team</h3></a>

				<p>Meet the team.</p>
    			</div>

			<div class="col-md-3 text-center">
 				<p><img src="{{url_for('static', filename='vizbuzz.png')}}" style="height: 100px"></img></p>
       			<a href="https://github.com/vizbuzz" target="_blank"><h3>Our Github</h3></a>

				<p>Download code and data samples.</p>
    			</div>


        </div>

        <!--Check out today's news-->
        <div class="col-md-12 text-center">
            <br><br><br><hr>
            <h2>Today's news</h2>
        </div>

        <!--embed news pages-->   
        <div class="col-md-12 text-center">
	  <hr>	
                <div class="col-md-4 text-center">
                    <a class="embedly-card" href="http://www.cnn.com">CNN - Breaking News, Latest News and Videos</a>
                    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
               </div>


			<div class="col-md-4 text-center">
                    <a class="embedly-card" href="http://www.npr.org">Home Page Top Stories</a>
                    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
			</div>


			<div class="col-md-4 text-center">
                    <a class="embedly-card" href="http://www.ap.org">Associated Press</a>
                    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
               </div>
        </div>

        <!--Contact Us-->
        <div class="col-md-12 text-center">
            <br><br><br><hr>
            <h3>Let us know how you liked the site, we'd love to hear from you!</h3>
        </div>

</div>


<!--Footer-->

<div class="footer"><h4>2016 - <a href="https://districtdatalabs.silvrback.com/">District Data Labs</a> Incubator Team 6</h4></div>




</body>








