<!DOCTYPE html>
<meta charset="utf-8">

<head>
	<link rel="stylesheet" href="{{url_for('static',filename='normalize.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="tooltip.css"/>

	<script src="{{url_for('static', filename='d3.min.js')}}"></script>
	<script src="{{url_for('static', filename='queue.min.js')}}"></script>
	<script src="{{url_for('static', filename='topojson.v1.min.js')}}"></script>

	<link rel="stylesheet" type="text/css" href="style.css"/>
	<link rel="stylesheet" type="text/css" href="data.css"/>
	<link rel="stylesheet" type="text/css" href="footer.css"/>
</head>


<nav class="navbar navbar-default" style="margin: 0 auto; color: lightgrey ;background-color: black;">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="color: lightgrey">
				<span class="sr-only" >Toggle navigation</span>
				<span class="icon-bar"></span>

				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="{{ url_for('index')}}">Home<span class="sr-only">(current)</span></a></li>
				<li><a href="{{ url_for('methodology')}}">Methodology</a></li>
				<li><a href="{{ url_for('visualizations')}}">Visualizations</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>



<body>

<div class="jumbotron">
  <h1>Visualizing the News</h1>
  <h2>With NPR</h2>
</div>



<div class="container-fluid" id="learnmore">
	<div class="row">
		<div class="col-md-12 text-center">
			<h2>How is the news related?</h2>
		</div>
		<ul>
			<div class="col-md-4 text-center" id="about">
				<li>
					<a href="{{ url_for('about')}}"><h3>About</h3></a>
					<p>How is the news related? Are there themes and trends?</p>
				</li>
			</div>


			<div class="col-md-4 text-center" id="methodology">
					<li><a href="{{ url_for('methodology')}}"><h3>Methodology</h3></a>
					<p>How did we get the data and what types of analysis we conducted.</p>
				</li>
			</div>

			<div class="col-md-4 text-center" id="visualizations">
				<li>
					<a href="{{ url_for('visualizations')}}"><h3>Visualizations</h3></a>
					<p>The news in pictures.</p>
				</li>
			</div>

		</ul>
	</div>
</div>


<div class="footer">
	<h4>Footer: 2016 - District Data Labs Incubator Team 6</h4>
</div>




</body>








