<!DOCTYPE html>
<meta charset="utf-8">

<head>
    <link rel="stylesheet" href="{{url_for('static',filename='normalize.css')}}">
    <link rel="stylesheet" type="text/css" href="tooltip.css"/>

    <script src="{{url_for('static', filename='d3.min.js')}}"></script>

    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>

	<link rel="stylesheet" type="text/css" href="style.css"/>
	<link rel="stylesheet" type="text/css" href="data.css"/>
	<link rel="stylesheet" type="text/css" href="footer.css"/>
</head>


<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">


            <!--Logo -->
            <div class="navbar-header"> 
                <a href="{{ url_for('index')}}" class="navbar-brand">vizbuzz</a>
            </div>

            <!-- Button -->
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" style="color: lightgrey">
			<span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<!-- Menu Items -->

		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-left">
				<li><a href="{{ url_for('index')}}">Home<span class="sr-only">(current)</span></a></li>

				<li class= "dropdown"><a href="#" class = "dropdown-button active" data-toggle = "dropdown">Learn How <b class = "caret"></b></a>
                                <ul class = "dropdown-menu">
                                    <li><a href="{{ url_for('methodology', _anchor='API')}}">API</a></li>
                                    <li><a href="{{ url_for('methodology', _anchor='analysis')}}">Analysis</a></li>
                                    <li><a href="{{ url_for('methodology', _anchor='viz_make')}}">Visualization</a></li>
                                    <li><a href="{{ url_for('methodology', _anchor='hosting')}}">Hosting</a></li>
                                </ul>
                          </li>

				<li><a href="{{ url_for('visualizations')}}">Visualizations</a></li>
                      <li><a href="{{ url_for('links')}}">Links</a></li>
				<li><a href="{{ url_for('about')}}">About</a></li>
			</ul>
		</div><!-- /.navbar- -->

	</div><!-- /.container-fluid -->
</nav>



<body>


<div class="learnhow">

<h1 align="center">Learn how</h1>
<h4 align="center">This page covers steps from ingesting data, cleaning, assembing, visualizing, to hosting your output on the web. For each step, we provide links to code samples on our Github as well as other useful resource links.</h4>
<!---------------- API ---------------->
<div id="API">
<hr><h1><font color=#2E86C1>API</font></h1>
<!------------------------------------->


<h3><br><br>How to download the NPR API</h3>

<p>XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX</p>

<h4>Resource Links:</h4>
<li><a href="https://www.codecademy.com/ru/tracks/npr" target="_blank">Codecademy NPR API</a></li>
<li><a href="http://www.npr.org/api/outputReference.php" target="_blank">NPR API Reference</a></li>

<h4>Samples:</h4>
<li><a href="https://github.com/vizbuzz/vizbuzz" target="_blank">NPR API code sample (python)</a></li>


<br>
</div>

<!---------------- Analysis ---------------->
<div id="analysis">
<hr><h1><align="center"><font color=#2E86C1>Analysis</font></h1>
<!------------------------------------->


<h3><br><br>How to clean text, get API into panda data frame</h3>

<p>XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX</p>

<h4>Resource Links:</h4>
<li><a href="http://pandas.pydata.org/pandas-docs/version/0.18.1/tutorials.html" target="_blank">Panda Tutorials</a></li>
<li><a href="http://pandas.pydata.org/pandas-docs/stable/text.html" target="_blank">Working with Text Data</a></li>
<li><a href="http://www.analyticsvidhya.com/blog/2014/11/text-data-cleaning-steps-python/" target="_blank">Steps for effective text data cleaning (with case study using Python)</a></li>

<h4>Samples:</h4>
<li><a href="https://github.com/vizbuzz/vizbuzz" target="_blank">NPR API json sample</a></li>

<h3><br><br>How to do elementary text analysis</h3>

<p>XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX</p>

<h4>Resource Links:</h4>
<li><a href="http://scikit-learn.org/stable/auto_examples/text/document_clustering.html" target="_blank">Text Analysis/Clustering</a></li>
<li><a href="http://brandonrose.org/clustering" target="_blank">Document Clustering with Python</a></li>
<li><a href="https://de.dariah.eu/tatom/working_with_text.html" target="_blank">Working with Text</a></li>


<br>
</div>

<!---------------- Visualization ---------------->
<div id="viz_make">
<hr><h1><align="center"><font color=#2E86C1>Visualization</font></h1>
<!---------------------------------------------------------->

<h3><br><br>Document Term Frquency Matrix</h3>

<p>XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX</p>

<h4>Resource Links:</h4>

<h4>Samples:</h4>


<h3><br><br>World Clouds</h3>

<p>XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX</p>

<h4>Resource Links:</h4>
<li><a href="https://github.com/amueller/word_cloud" target="_blank">Word Cloud in Python</a></li>
<li><a href="http://sebastianraschka.com/Articles/2014_twitter_wordcloud.html" target="_blank">Twitter to Word Cloud</a></li>

<h4>Samples:</h4>
<li><a href="https://github.com/vizbuzz/vizbuzz" target="_blank">Word cloud using NPR API</a></li>

<h3><br><br>Network Graphs</h3>

<p>XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX</p>

<h4>Resource Links:</h4>
<li><a href="https://networkx.github.io/" target="_blank">Python networkx library</a></li>

<h4>Samples:</h4>


<h3><br><br>D3</h3>

<p>XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX</p>

<h4>Resource Links:</h4>
<li><a href="http://adilmoujahid.com/posts/2015/01/interactive-data-visualization-d3-dc-python-mongodb/" target="_blank">Interactive Data Visualization with D3</a></li>
<li><a href="https://opendatadaydc.hackpad.com/Intro-to-D3-issXcwlDxKp" target="_blank">Intro to D3</a></li>
<li><a href="http://chimera.labs.oreilly.com/books/1230000000345/index.html" target="_blank">Interactive Data Visualization for the Web</a></li>
<li><a href="http://codepen.io/MutantSpore/pen/KVdbMO" target="_blank">Codepen Example</a></li>
<li><a href="http://bl.ocks.org/d3noob/5141278" target="_blank">Basic Directional Force Layout</a></li>
<li><a href="http://bl.ocks.org/ccmcc/5182685" target="_blank">D3 Force Diagram with CSV</a></li>

<h4>Samples:</h4>
<li><a href="https://github.com/vizbuzz/vizbuzz" target="_blank">D3 using NPR API</a></li>

<br>
</div>
<!---------------- Web Hosting ---------------->
<div id="hosting">
<hr><h1><align="center"><font color=#2E86C1>Hosting</font></h1>
<!--------------------------------------------->


<h3><br><br>What is bootstrap</h3>

<p>Bootstrap is a font-end framework used to create websites and applications. A collection of html, css, and javascript tools eases web design.</p>
<h4>Resource Links:</h4>
<li><a href="http://getbootstrap.com/getting-started/" target="_blank">Get Bootstrap: Getting Started</a></li>
<li><a href="http://www.w3schools.com/bootstrap/bootstrap_get_started.asp" target="_blank">w3schools.com Bootstrapping</a></li>
<li><a href="http://startbootstrap.com/bootstrap-resources/" target="_blank">Start Bootstrap</a></li>
<li><a href="https://almsaeedstudio.com/blog/10-Free-Responsive-Bootstrap-Templates-For-2016" target="_blank">Free Bootstrap templates</a></li>

<h4>Samples:</h4>
<li><a href="https://github.com/vizbuzz/vizbuzz" target="_blank">Vizbuzz homepage bootstrap template</a></li>


<h3><br><br>What is Flask</h3>

<p>Flask is a web framework written in Python. Companies such as LinkedIn and Pinterest use Flask.</p>
<h4>Resource Links:</h4>
<li><a href="https://realpython.com/blog/python/flask-by-example-part-1-project-setup/" target="_blank">Flask by Example</a></li>
<li><a href="https://www.youtube.com/watch?v=nw9oGzZi8Hk" target="_blank">Flask YouTube Tutorial</a></li>
<li><a href="https://github.com/dfm/flask-d3-hello-world" target="_blank">Flask/D3</a></li>
<li><a href="http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-xviii-deployment-on-the-heroku-cloud" target="_blank">Heroku/Flask Megatutorial</a></li>
<li><a href="https://github.com/wsankey/dew_flask" target="_blank">Dew_Flask</a></li>



<h3><br><br>What is Heroku</h3>

<p>XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX</p>

<h4>Resource Links:</h4>
<li><a href="http://databench.trivial.io/en/latest/" target="_blank">Python/D3/Heroku</a></li>
<li><a href="https://devcenter.heroku.com/articles/git" target="_blank">Deploying with Git</a></li>
<li><a href="https://www.codeschool.com/screencasts/heroku" target="_blank">Code School</a></li>

</div>
<br>
</div>


<div class="footer"><h4>2016 - <a href="https://districtdatalabs.silvrback.com/">District Data Labs</a> Incubator Team 6</h4></div>




</body>








