<!DOCTYPE html>
<meta charset="utf-8">

<head>
	<link rel="stylesheet" href="{{url_for('static',filename='normalize.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="tooltip.css"/>

	<script src="{{url_for('static', filename='d3.min.js')}}"></script>
	<script src="{{url_for('static', filename='queue.min.js')}}"></script>
	<script src="{{url_for('static', filename='topojson.v1.min.js')}}"></script>

	<link rel="stylesheet" type="text/css" href="style.css"/>
	<link rel="stylesheet" type="text/css" href="data.css"/>
	<link rel="stylesheet" type="text/css" href="footer.css"/>
</head>


<nav class="navbar-fixed-top" style="margin: 0 auto; color: lightgrey ;background-color: black;">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="color: lightgrey">
				<span class="sr-only" >Toggle navigation</span>
				<span class="icon-bar"></span>

				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->

		<div class="navbar-fixed-top" id="nav">
			<ul class="nav navbar-nav">
				<li class="active"><a href="{{ url_for('index')}}">Home<span class="sr-only">(current)</span></a></li>
				<li><a href="{{ url_for('about')}}">About</a></li>
				<li><a href="{{ url_for('methodology')}}">Methodology</a></li>
				<li><a href="{{ url_for('visualizations')}}">Visualizations</a></li>
                      <li><a href="{{ url_for('links')}}">Links</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>



<body>


<div class="blog">

<br><br><h1>Learn how</h1>

<!---------------- API ---------------->
<hr><h1><align="center"><font color=#2E86C1>API</font></h1>
<!------------------------------------->


<h3><br><br>How to download the NPR API</h3>

<p>XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX</p>

<h4>Resource Links:</h4>
<li><a href="https://www.codecademy.com/ru/tracks/npr" target="_blank">Codecademy NPR API</a></li>
<li><a href="http://www.npr.org/api/outputReference.php" target="_blank">NPR API Reference</a></li>

<h3><br><br>How to clean text, get API into panda data frame</h3>

<p>XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX</p>

<h4>Resource Links:</h4>
<li><a href="http://pandas.pydata.org/pandas-docs/version/0.18.1/tutorials.html" target="_blank">Panda Tutorials</a></li>
<li><a href="http://pandas.pydata.org/pandas-docs/stable/text.html" target="_blank">Working with Text Data</a></li>

<br><br><br>
<!---------------- Analysis & Visualization ---------------->
<hr><h1><align="center"><font color=#2E86C1>Analysis & Visualization</font></h1>
<!---------------------------------------------------------->


<h3><br><br>How to do text analysis to prepare for D3 files</h3>

<p>XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX</p>

<h4>Resource Links:</h4>
<li><a href="http://scikit-learn.org/stable/auto_examples/text/document_clustering.html" target="_blank">Text Analysis/Clustering</a></li>
<li><a href="http://brandonrose.org/clustering" target="_blank">Document Clustering with Python</a></li>
<li><a href="https://de.dariah.eu/tatom/working_with_text.html" target="_blank">Working with Text</a></li>



<h3><br><br>How to make a word cloud</h3>

<p>XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX</p>

<h4>Resource Links:</h4>
<li><a href="https://github.com/amueller/word_cloud" target="_blank">Word Cloud in Python</a></li>
<li><a href="http://sebastianraschka.com/Articles/2014_twitter_wordcloud.html" target="_blank">Twitter to Word Cloud</a></li>


<h3><br><br>How to make D3</h3>

<p>XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX</p>

<h4>Resource Links:</h4>
<li><a href="http://adilmoujahid.com/posts/2015/01/interactive-data-visualization-d3-dc-python-mongodb/" target="_blank">Interactive Data Visualization with D3</a></li>
<li><a href="https://opendatadaydc.hackpad.com/Intro-to-D3-issXcwlDxKp" target="_blank">Intro to D3</a></li>
<li><a href="http://chimera.labs.oreilly.com/books/1230000000345/index.html" target="_blank">Interactive Data Visualization for the Web</a></li>
<li><a href="http://codepen.io/MutantSpore/pen/KVdbMO" target="_blank">Codepen Example</a></li>
<li><a href="http://bl.ocks.org/d3noob/5141278" target="_blank">Basic Directional Force Layout</a></li>
<li><a href="http://bl.ocks.org/ccmcc/5182685" target="_blank">D3 Force Diagram with CSV</a></li>




<br><br><br>
<!---------------- Web Hosting ---------------->
<hr><h1><align="center"><font color=#2E86C1>Web Hosting</font></h1>
<!--------------------------------------------->


<h3><br><br>What is bootstrap</h3>

<p>XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX</p>

<h4>Resource Links:</h4>
<li><a href="http://getbootstrap.com/components/" target="_blank">Bootstrapping</a></li>
<li><a href="http://getbootstrap.com/getting-started/" target="_blank">Get Bootstrap</a></li>


<h3><br><br>What is Flask</h3>

<p>XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX</p>

<h4>Resource Links:</h4>
<li><a href="https://realpython.com/blog/python/flask-by-example-part-1-project-setup/" target="_blank">Flask by Example</a></li>
<li><a href="https://www.youtube.com/watch?v=nw9oGzZi8Hk" target="_blank">Flask YouTube Tutorial</a></li>
<li><a href="https://github.com/dfm/flask-d3-hello-world" target="_blank">Flask/D3</a></li>
<li><a href="http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-xviii-deployment-on-the-heroku-cloud" target="_blank">Heroku/Flask Megatutorial</a></li>
<li><a href="https://github.com/wsankey/dew_flask" target="_blank">Dew_Flask</a></li>



<h3><br><br>What is Heroku</h3>

<p>XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX XXXXX XX XXX XXXX XX XX XXX XX XXXXX XX XXXX XX</p>

<h4>Resource Links:</h4>
<li><a href="http://databench.trivial.io/en/latest/" target="_blank">Python/D3/Heroku</a></li>
<li><a href="https://devcenter.heroku.com/articles/git" target="_blank">Deploying with Git</a></li>
<li><a href="https://www.codeschool.com/screencasts/heroku" target="_blank">Code School</a></li>


</div>


<div class="footer">
	<h4>Footer: 2016 - District Data Labs Incubator Team 6</h4>
</div>




</body>








