<!DOCTYPE html>
<meta charset="utf-8">

<head>
    <link rel="stylesheet" href="{{url_for('static',filename='normalize.css')}}">
    <link rel="stylesheet" type="text/css" href="tooltip.css"/>

    <script src="{{url_for('static', filename='d3.min.js')}}"></script>

    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>

	<link rel="stylesheet" type="text/css" href="style.css"/>
	<link rel="stylesheet" type="text/css" href="data.css"/>
	<link rel="stylesheet" type="text/css" href="footer.css"/>
</head>


<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">


            <!--Logo -->
            <div class="navbar-header"> 
                <a href="{{ url_for('index')}}" class="navbar-brand">vizbuzz</a>
            </div>

            <!-- Button -->
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" style="color: lightgrey">
			<span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<!-- Menu Items -->

		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-left">
				<li><a href="{{ url_for('index')}}">Home<span class="sr-only">(current)</span></a></li>

				<li class= "dropdown"><a href="#" class = "dropdown-button active" data-toggle = "dropdown">Learn How <b class = "caret"></b></a>
                                <ul class = "dropdown-menu">
                                    <li><a href="{{ url_for('methodology', _anchor='API')}}">API</a></li>
                                    <li><a href="{{ url_for('methodology', _anchor='analysis')}}">Analysis</a></li>
                                    <li><a href="{{ url_for('methodology', _anchor='viz_make')}}">Visualization</a></li>
                                    <li><a href="{{ url_for('methodology', _anchor='hosting')}}">Hosting</a></li>
                                </ul>
                          </li>

				<li><a href="{{ url_for('visualizations')}}">Visualizations</a></li>
                      <li><a href="{{ url_for('links')}}">Links</a></li>
				<li><a href="{{ url_for('about')}}">About</a></li>
			</ul>
		</div><!-- /.navbar- -->

	</div><!-- /.container-fluid -->
</nav>



<body>


<div class="learnhow">

<h1 align="center">Learn how</h1>
<h4 align="center">This page covers steps from ingesting data, cleaning, assembing, visualizing, to hosting your output on the web. For each step, we provide links to code samples on our Github as well as other useful resource links.</h4>
<!---------------- API ---------------->
<div id="API">
<hr><h1><font color=#2E86C1>API</font></h1>
<!------------------------------------->


<h3><br><br>How to download the NPR API</h3>

<p>One of the great things about NPR’s API is that it is well-designed and heavily documented. NPR provides a majority of the information needed to extract data through their website, <a href="http://www.npr.org/api/index" target="_blank">http://www.npr.org/api/index</a>. The website provides several useful tools for navigating the API, including a “Query Builder” tool. Most importantly however, the homepage has a link where you can get assigned an API key. Once you have an API key, you’ll need to figure out the content for the url that will allow you to access the exact data you’re looking for. The <a href="http://www.npr.org/api/queryGenerator.php" target="_blank">Query Builder</a> mentioned earlier is designed for exactly this purpose. Each additional specification you are looking for becomes a piece of that url, starting with your API key.
The API’s default output is a format called NPRML, which is a custom output. However, it is relatively straightforward to convert to a more standard output like JSON. To control the output type, include the variable “&format=” to the URL like this:</p>

<p align="center"><img src="{{url_for('static', filename='howapi1.png')}}" style="height: 20px"></img></p>

<p align="center"><img src="{{url_for('static', filename='howapi2.png')}}" style="height: 40px"></img></p>


<p>Now that your outputs are set up, the next step is setting up python to read in the results and output them in a way that’s helpful. With the NPR API, the output features nested lists and dictionaries, which can be challenging when trying to extract data. We have drafted up a few examples of how to parse the JSON and export it in a one-row-per-story format. You can try a few from our Github to experiment with how to access the nested data. </p>

<p align="center"><img src="{{url_for('static', filename='howapi3.png')}}" style="height: 400px"></img></p>

<h4>Resource Links:</h4>
<li><a href="https://www.codecademy.com/ru/tracks/npr" target="_blank">Codecademy NPR API</a></li>
<li><a href="http://www.npr.org/api/outputReference.php" target="_blank">NPR API Reference</a></li>

<h4>Samples:</h4>
<li><a href="https://github.com/vizbuzz/vizbuzz" target="_blank">NPR API code sample (python)</a></li>


<br>
</div>

<!---------------- Analysis ---------------->
<div id="analysis">
<hr><h1><align="center"><font color=#2E86C1>Analysis</font></h1>
<!------------------------------------->


<h3><br><br>Convert JSON into panda data frame</h3>

<p>API data returned in JSON can be converted into a Python Pandas dataframe for data analysis and visualization. This can be done in 2 ways:</p>

<li>1. Using the json_normalize function: http://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.io.json.json_normalize.html</li>


<li>2. Creating a dataframe</li>

<br>

<p>In our example using the NPR API, our API call returned lots of data, but we were only interested in the story categories to build our visualization. This information was nested in several layers of JSON data and metadata, so we found it more intuitive to build our dataframe by looping through the JSON object, creating a Python dictionary for each story, and converting our list of dictionaries into a Pandas dataframe. The sample code linked below walks through the process of creating a Pandas dataframe from a JSON object.</p>


<h4>Resource Links:</h4>
<li><a href="http://pandas.pydata.org/pandas-docs/version/0.18.1/tutorials.html" target="_blank">Panda Tutorials</a></li>
<li><a href="http://pandas.pydata.org/pandas-docs/stable/text.html" target="_blank">Working with Text Data</a></li>
<li><a href="http://www.analyticsvidhya.com/blog/2014/11/text-data-cleaning-steps-python/" target="_blank">Steps for effective text data cleaning (with case study using Python)</a></li>

<h4>Samples:</h4>
<li><a href="https://github.com/vizbuzz/vizbuzz" target="_blank">NPR API json sample</a></li>

<h3><br><br>Create data files for network visualization</h3>

<p>
In order to create our network visualization showing how news story categories are related, we need to analyze and restructure our data.  Network visualizations are made of two components, nodes (the bubbles) and joins (the lines connecting the bubbles).  In our NPR example, the nodes will be the distinct story categories and the joins will be pairs of related categories.
Our dataframe has a column containing a list of category tags for each story.  The sample code linked below walks through the analysis and restructuring of this information to output csv files for nodes and joins.</p>

<h4>Resource Links:</h4>
<li><a href="http://scikit-learn.org/stable/auto_examples/text/document_clustering.html" target="_blank">Text Analysis/Clustering</a></li>
<li><a href="http://brandonrose.org/clustering" target="_blank">Document Clustering with Python</a></li>
<li><a href="https://de.dariah.eu/tatom/working_with_text.html" target="_blank">Working with Text</a></li>


<br>
</div>

<!---------------- Visualization ---------------->
<div id="viz_make">
<hr><h1><align="center"><font color=#2E86C1>Visualization</font></h1>
<!---------------------------------------------------------->

<h3><br><br>Network visualization in Python with NetworkX</h3>

<h4>Resource Links:</h4>
The visualizations can be customized using formatting code described in the documentation: <a href="http://sebastianraschka.com/Articles/2014_twitter_wordcloud.html" target="_blank">https://networkx.readthedocs.io/</a>
<br>
<h4>Code Samples:</h4>
<li><a href="https://github.com/vizbuzz/vizbuzz" target="_blank">NetworkX using NPR API</a></li>




<h3><br><br>D3</h3>

<p> D3 is a JavaScript library that helps visualize data in new and interesting ways.  JavaScript tends to be a secondary language for data scientists.  Most of us code in There are packages available for both Python and R that will allow a large amount of the functionality of  D3 without needing to learn JavaScript or the particulars of the D3 language. Particularly for a data scientist, using a package in the primary language of analysis is the way to go.  D3 is highly specialized and is best for true visualization projects.  Many of the add ons will get you 90% of the way there, with the ability to include a little JavaScript for additional features.  As more of these features are added and more functionality is desired, it makes sense to make the full switch into D3.  Below are some tools to help you get started.



<h4>Resource Links:</h4>
<li><a href="https://pypi.python.org/pypi/python-nvd3/" target="_blank">Python Package NVD3</a></li>
<li><a href="http://christophergandrud.github.io/networkD3/" target="_blank">R Library</a></li>
<li><a href="http://chimera.labs.oreilly.com/books/1230000000345/index.html" target="_blank">Starting from Scratch</a></li>
<li><a href="http://www.coppelia.io/2014/07/an-a-to-z-of-extra-features-for-the-d3-force-layout/" target="_blank">Building From a Template</a></li>
<li><a href="https://bl.ocks.org/" target="_blank">Building From a Template</a></li>

<li><a href="http://adilmoujahid.com/posts/2015/01/interactive-data-visualization-d3-dc-python-mongodb/" target="_blank">Interactive Data Visualization with D3</a></li>
<li><a href="https://opendatadaydc.hackpad.com/Intro-to-D3-issXcwlDxKp" target="_blank">Intro to D3</a></li>
<li><a href="http://chimera.labs.oreilly.com/books/1230000000345/index.html" target="_blank">Interactive Data Visualization for the Web</a></li>
<li><a href="http://codepen.io/MutantSpore/pen/KVdbMO" target="_blank">Codepen Example</a></li>
<li><a href="http://bl.ocks.org/d3noob/5141278" target="_blank">Basic Directional Force Layout</a></li>
<li><a href="http://bl.ocks.org/ccmcc/5182685" target="_blank">D3 Force Diagram with CSV</a></li>

<h4>Code Samples:</h4>
<li><a href="https://github.com/vizbuzz/vizbuzz" target="_blank">D3 using NPR API</a></li>

<br>
</div>
<!---------------- Web Hosting ---------------->
<div id="hosting">
<hr><h1><align="center"><font color=#2E86C1>Hosting</font></h1>
<!--------------------------------------------->


<h3><br><br>What is bootstrap</h3>

<p>Bootstrap is a front-end framework used to create websites and applications. A collection of html, css, and javascript tools eases web design.</p>
<h4>Resource Links:</h4>
<li><a href="http://getbootstrap.com/getting-started/" target="_blank">Get Bootstrap: Getting Started</a></li>
<li><a href="http://www.w3schools.com/bootstrap/bootstrap_get_started.asp" target="_blank">w3schools.com Bootstrapping</a></li>
<li><a href="http://startbootstrap.com/bootstrap-resources/" target="_blank">Start Bootstrap</a></li>
<li><a href="https://almsaeedstudio.com/blog/10-Free-Responsive-Bootstrap-Templates-For-2016" target="_blank">Free Bootstrap templates</a></li>


<h4>Code Samples:</h4>
<li><a href="https://github.com/vizbuzz/vizbuzz" target="_blank">Vizbuzz bootstrap template</a></li>


<h3><br><br>What is Flask</h3>

<p>Flask is a web framework written in Python. Companies such as LinkedIn and Pinterest use Flask. 

Below is a picture of the vizbuzz flask app directory. As you can see it is pretty simple </p>

<br><li>The list of html pages must be listed in the  <b>views.py</b> file.</li>
<br><li>The  <b>requirements.txt</b> file is where you specify which Python packages are required to successfully run your app.</li>



<p align="center"><img src="{{url_for('static', filename='howflask1.png')}}" style="height: 300px"></img></p>

<br><li>The <b>templates</b> folder is where html documents go. This includes d3 html files</li>

<p align="center"><img src="{{url_for('static', filename='howflask_temp.png')}}" style="height: 200px"></img></p>

<br><li>The <b>static</b> folder contains our pictures, style sheets, and CSS files.</li>

<p align="center"><img src="{{url_for('static', filename='howflask_static.png')}}" style="height: 400px"></img></p>



<h4>Resource Links:</h4>
<li><a href="https://realpython.com/blog/python/flask-by-example-part-1-project-setup/" target="_blank">Flask by Example</a></li>
<li><a href="https://www.youtube.com/watch?v=nw9oGzZi8Hk" target="_blank">Flask YouTube Tutorial</a></li>
<li><a href="https://github.com/dfm/flask-d3-hello-world" target="_blank">Flask/D3</a></li>
<li><a href="http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-xviii-deployment-on-the-heroku-cloud" target="_blank">Heroku/Flask Megatutorial</a></li>
<li><a href="https://github.com/wsankey/dew_flask" target="_blank">Dew_Flask</a></li>

<h4>Code Samples:</h4>
<li><a href="https://github.com/vizbuzz/vizbuzz" target="_blank">Vizbuzz flask</a></li>



<h3><br><br>What is Heroku</h3>

<p>Heroku is a hosting site that makes it easy for you get a website up quickly. It's a great choice for experimenting since it's free for smaller size web apps. 

<br>
<br>

Once you have your flask running locally, you can deploy it onto Heroku. <a href="https://devcenter.heroku.com/articles/git" target="_blank">Deploying with Git</a> clearly explains the deployment process step-by-step.

</p>

<h4>Resource Links:</h4>
<li><a href="http://databench.trivial.io/en/latest/" target="_blank">Python/D3/Heroku</a></li>
<li><a href="https://devcenter.heroku.com/articles/git" target="_blank">Deploying with Git</a></li>
<li><a href="https://www.codeschool.com/screencasts/heroku" target="_blank">Code School</a></li>

</div>
<br>
</div>


<div class="footer"><h4>2016 - <a href="https://districtdatalabs.silvrback.com/">District Data Labs</a> Incubator Team 6</h4></div>




</body>








