<!DOCTYPE html>
<meta charset="utf-8">

<head>
    <link rel="stylesheet" href="{{url_for('static',filename='normalize.css')}}">
    <link rel="stylesheet" type="text/css" href="tooltip.css"/>

    <script src="{{url_for('static', filename='d3.min.js')}}"></script>

    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>

	<link rel="stylesheet" type="text/css" href="style.css"/>
	<link rel="stylesheet" type="text/css" href="data.css"/>
	<link rel="stylesheet" type="text/css" href="footer.css"/>


</head>


<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">


            <!--Logo -->
            <div class="navbar-header"> 
                <a href="{{ url_for('index')}}" class="navbar-brand">vizbuzz</a>
            </div>

            <!-- Button -->
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" style="color: lightgrey">
			<span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<!-- Menu Items -->

		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-left">
				<li><a href="{{ url_for('index')}}">Home<span class="sr-only">(current)</span></a></li>

				<li class= "dropdown"><a href="#" class = "dropdown-button" data-toggle = "dropdown">Learn How <b class = "caret"></b></a>
                                <ul class = "dropdown-menu">
                                    <li><a href="{{ url_for('methodology', _anchor='API')}}">API</a></li>
                                    <li><a href="{{ url_for('methodology', _anchor='analysis')}}">Analysis</a></li>
                                    <li><a href="{{ url_for('methodology', _anchor='viz_make')}}">Visualization</a></li>
                                    <li><a href="{{ url_for('methodology', _anchor='hosting')}}">Hosting</a></li>
                                </ul>
                          </li>

				<li class="active"><a href="{{ url_for('visualizations')}}">Visualizations</a></li>
                      <li><a href="{{ url_for('links')}}">Links</a></li>
				<li><a href="{{ url_for('about')}}">About</a></li>
			</ul>
		</div><!-- /.navbar- -->

	</div><!-- /.container-fluid -->
</nav>



<body>

<h1  align="center"><font color=#2E86C1>Visualizations</font></h1>
<h3  align="center">Text Art</h3>

<div class="bio container-fluid">
        
	       
        <div class="col-md-12 text-center">
	  <hr>	
                <div class="col-md-6 text-center">
                    <p>Word Cloud</p>
                    <p><img src="{{url_for('static', filename='viz.png')}}" style="height: 300px"></img></p>
			</div>


			<div class="col-md-6 text-center">
            	   <p>Pic2</p>
                   <p><img src="{{url_for('static', filename='viz.png')}}" style="height: 300px"></img></p>
			</div>



        </div>




</div>

<h3  align="center">Static Graphs</h3>

<div class="bio container-fluid">
        
	       
    <div class="col-md-12 text-center">
                    <p>Network Graph</p>
                    	<p><img src="{{url_for('static', filename='python_network1.png')}}" style="height: 400px"></img></p>
    </div>





    <div class="col-md-12 text-center">
				<p>Circular Graph</p>
                          <p><img src="{{url_for('static', filename='python_network2.png')}}" style="height: 400px"></img></p>
    </div>


    <div class="col-md-12 text-center">
				<p>Network Graph with sample formatting</p>
 				<p><img src="{{url_for('static', filename='python_network3.png')}}" style="height: 400px"></img></p>
    </div>


</div>


<br> 
<h3  align="center">Network Graph (D3)</h3>
<hr>
         <!-- Andrew's Graph -->   
  
      <p  align="center"><iframe height="600px" width="800px" src="{{url_for('d31')}}"></iframe></p>
<!--Footer-->

<div class="footer"><h4>2016 - <a href="https://districtdatalabs.silvrback.com/">District Data Labs</a> Incubator Team 6</h4></div>


</body>








