:root {
  --reddish: #943126;
  --blueish: #3498DB;
  --whiteish: #F8F9F9;
  --grey: #A6ACAF;
  #21499F;
  #CA4433;
 #E9E2DF;

 --map1: #ffffcc;
 --map2: #a1dab4;
 --map3: #41b6c4;
 --map4: #2c7fb8;
 --map5: #253494;

}



/*these are classes, put in class declaration*/
.bio{
    text-align: center;
    text-indent: 0px;
    color: black;
    font-family: Ubuntu;
    background-color: whitesmoke;
}


.blog{
  padding-top: 3em;
  padding-left: 15em;
  padding-right: 15em;
  margin-bottom: 10em;
  color: black; 
  font-family: Ubuntu;
  text-align: justify;
  background-color: whitesmoke;
}

.learnhow{
  padding-top: 3em;
  padding-left: 12em;
  padding-right: 12em;
  margin-bottom: 10px;
  color: black; 
  font-family: Ubuntu;
  text-align: justify;
  background-color: whitesmoke;
}

.jumbotron {
  background-image: url("blackback.jpg");
  background-size: cover;
  border: 2px solid black;
  background-repeat: no-repeat;
  text-align: center;
  height: 450px;
  color: white;
  padding-top: 5em;
  margin-bottom: 0;
}

ul li {
  list-style-type: none;
  display: inline;
  font-family: Ubuntu;
}

/*-- # = ids -*/
#learnmore {
  background-color: whitesmoke;
  border-top: 2px solid;
  margin-top: 0;
}



* {
  margin: 0;
}


svg#map {
  margin: 0 auto;
  display: block;
}

* {
    margin: 0;
}


h1{
    padding-top: 30px;
}

html, body {
    height: 100%;
    padding-top: 25px;
}

h4{
    padding-top: 15px;
}

#API {
    padding-top: 60px;
}


.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -300px; /* the bottom margin is the negative value of the footer's height */
}

.header .header-nav ul#nav-library ul.dropdown-menu {
    position: relative;
    z-index: 10000;
}

.footer, .push {
    height: 100px; /* .push must be the same height as .footer */
    background-color: darkgray;
    background-size: cover;
    color: white;
}

#footertext {
    padding-top: 0px ;
}
