:root {
  --reddish: #962D3E;
  --blueish: #348899;
  --whiteish: #F2EBC7;
  --grey: #ddd;
  #21499F;
  #CA4433;
 #E9E2DF;

 --map1: #ffffcc;
 --map2: #a1dab4;
 --map3: #41b6c4;
 --map4: #2c7fb8;
 --map5: #253494;

}


.blog {
  height: 1250px;
  padding-top: 5em;
  padding-left: 1.5em;
  margin-bottom: 0;
  color: black;
}


.jumbotron {
  background-image: url("blackback.jpg");
  background-size: cover;
  border: 2px solid black;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 650px;
  color: white;
  padding-top: 5em;
  padding-left: 1.5em;
  margin-bottom: 0;
}

ul li {
  list-style-type: none;
  display: inline;
}

#learnmore {
  background-color: whitesmoke;
  height: 30em;
  border-top: 2px solid;
  margin-top: 0;
}

#blog {
  background-color: whitesmoke;
  height: 1250px;
  border-top: 2px solid;
  margin-top: 0;
}

#maptitle {
  margin-top: 0;
  background-color: #253494;
  color: white;
  padding-top: 2em;
  padding-bottom: 2em;
  border-bottom: solid 2px;
}

* {
  margin: 0;
}


svg#map {
  margin: 0 auto;
  display: block;
}

* {
    margin: 0;
}


html, body {
    height: 100%;
}


.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -300px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 200px; /* .push must be the same height as .footer */
    background-color: darkgray;
    background-size: cover;
    color: white;
}

#footertext {
    padding-top: 0px ;
}
