@import url('//fonts.googleapis.com/css?family=Ubuntu');


:root {
  --reddish: #962D3E;
  --blueish: #348899;
  --whiteish: #F2EBC7;
  --grey: #ddd;
}

.select {
	margin-top: 8px;
	height: 34px;
	overflow: hidden;
	border: 1px solid #ccc;
	font-size: 100%;
}


svg#map{
  display: block;
  margin: 0 auto;

}


#nav {
    height: 70px;
    text-align: middle;
    color: lightgrey;
    position: fixed;
    top: 0px;
}

.navbar-fixed-top{
    height: 70px;
    text-align: middle;
    color: lightgrey;
    position: fixed;
    top: 0px;
}
  --reddish: #962D3E;
  --blueish: #348899;
  --whiteish: #F2EBC7;

.Aboutbtn {
  margin-right: 10px;
}


li.key {
    border-top-width: 15px;
    border-top-style: solid;
    font-size: .2em;
    width: 10%;
    padding-left: 0;
    padding-right: 2em;   
    font-family: Ubuntu;

}

a:link{
    color:#21618C;
}
